/* Search Bar */

#default-search{
    width: 180%;
    margin-left: 50%;
    height: 47px;
}

/* Search Icon */

#searchIcon{
    margin-left: 50%;
}

/* Home */

#home{
    background-color: rgb(201, 252, 252);
    margin-top: 1px;
}